@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}
             /*menu de navegación*/
nav{
  display: flex;
  position: fixed;
  align-items: center;
  background: black;
  width: 100%;
  height: 8vh;
  padding: 0 30px;
}
.logo{
  color: white;
  padding: 15px;
  font-size: 20px;
  font-weight: 900;
  
}
.menu-btn{
  color: white;
  font-size: 20px;
  cursor: pointer;
}
.nav__input{
  font-size: 20px;
  color: white;
  display: none ;
  cursor: pointer;
}
.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.menuu{
  justify-content: space-between;
  display: flex;
}
.menuu li button:hover{
  color: white;
  background: gray;
  border-radius: 30px;
}
.menuu li{
  list-style: none;
  margin: 0 15px;
}
.menuu li button{
  border: none;
  width: 110px;
  height: 35px;
  color: white;
  background: transparent;
  font-weight: 800;
  transition: .3s ease-in-out;
}
        /*MENU DEL BOTTON ISQUIERDO*/
.menuuu{
  position: fixed;
  width: 8%;
  top: 8vh;
  left: 0;
  background: black;
  transform: translateX(-110%);
}
.menuuu li{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
}
.menuuu li button:hover{
  background: gray;
  
}
.menuuu li button{
  color: white;
  text-decoration: none;
  line-height: 70px;
  width: 130px;
  background: black;
  border: none;
  outline: none;
}
.nav_input:checked + .menuuu{
  transform: translateX(0);
}
.menuu-btn{
  color: white;
  display: block;
  font-size: 20px;
}
.menu-btn{
  display: none;
}
.nav_input{
  display: none;
}
         /*Centro de la pagina inicial*/
.wave{
  width: 100%;
  background: #0F2027;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.center{
  background: #0F2027;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 78vh;
}
.center .center-b{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
.titles{
  text-align: center;
}
.center .img{
  width: 400px;
  height: 400px;
  margin: 20px;
}
.center .title{
  color: white;
  font-size: 55px;
  font-weight: 800;
}
.center .subtitle{
  color: white;
  font-size: 50px;
  font-weight: 800;
  padding-bottom: 10px;
}
.center .btns{
  display: flex;
  align-items: center;
  justify-content: center;
}
.center .btns button{
  color: white;
  font-size: 18px;
  margin: 10px;
  background: transparent;
  outline: none;
  border: none;
  border: 3px solid white;
  width: 145px;
  height: 50px;
  font-weight: 600;
  transition: .3s ease-in-out;
  border-radius: 20px;
}
.center .btns button:hover{
  color: black;
  background: white;
}
.center .btns .btn2{
  background: rgb(182, 182, 182);
  border: none;
}

         /*ADAPTACIÓN AL TELEFONO*/
@media screen and (max-width:800px){
  /*MENU DE NAVEGACIÓN*/
  .menu-btn{
    display: block;
  }
  .menuu{
    position: fixed;
    display: block;
    top: 8vh;
    left: 70%;
    line-height: 70px;
    background: black;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 15px;
    transform: translateX(100%);
    transition: .3s ease-in-out;
  }
  .menuu li{
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    transition: .3s ease-in-out;
    margin: 0 20px;
  }
  .menuu li:hover{
    background: gray;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nav__input:checked + .menuu{
    transform: translatex(0);
  }
  .menuuu{
    display: none;
  }
  .menuu-btn{
    display: none;
  }
  .nav_input{
    display:none
  }
  /*CENTER*/
  .center .title{
    padding: 65px 0 0;
    font-size: 40px;
    text-align: center;
  }
  .center .subtitle{
    font-size: 35px;
    text-align: center;
    padding-bottom: 0 ;

  }
  .center .btns button{
    width: 140px;
    height: 45px;
    font-size: 15px;
  }
  .center .btns{
    transform: translateY(360%);
  }
  .center .img{
    width: 200px;
    height: 200px;
    transform: translateY(-20%);
  }
  .center .center-b{
    display: flex;
    flex-direction: column;
  }
}