@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
}
body{
  background-image: url(imagenes/piano2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.border{
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, rgb(255, 255, 255),rgb(254, 255, 255));
  width: 480px;
  height: 480px;
  border-radius: 80px;
}
.box{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}
.container{
  display: flex;
  flex-direction: column;
  padding: 0 15px 0 15px;
  width: 450px;
  height: 450px;
  border-radius: 60px;
  background: linear-gradient(to right, blue,blue);
}
span{
  display: flex;
  justify-content: center;
  color: white;
  font-size: 45px;
  font-weight: 900;
}
header{
  display: flex;
  justify-content: center;
  color: white;
  font-size: 25px;
  font-weight: 500;
  padding: 10px 0 10px 0;

}
.input-field .input{
  display: flex;
  border: none;
  outline: none;
  border-radius: 30px;
  width: 100%;
  height: 45px;
  padding: 0 0 0 45px;
  color: black;
  
}
::-webkit-input-placeholder{
  color: black;
}
i{
  position: relative;
  top: -33px;
  left: 17px;
  color: black;
}
.submit{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 45px;
  border: none;
  outline: none;
  border-radius: 30px;
  color: black;
  text-transform: uppercase;
}
.submit:hover{
  color: black;
  background: linear-gradient(to right, rgb(13, 235, 224), rgb(201, 155, 6));
}
.two-col{
  display: flex;
  justify-content: space-between;
  color: white;
  margin: 10px;
}
.two-col .one{
  color: white;
  font-size: 15px;
  padding: 0 6px;
}
label a{
  color: white;
  font-size: 13px;
}