@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
button{
    color: #fff;
    background: none;
    height: 55px;
    width: 170px;
    border-radius: 5px;
    border: none;
    margin: 0 10px;
    border: 2px solid white;
    font-size: 20px;
    font-weight: 500;
    padding: 0 10px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
    
}
button:hover{
    background: white;
    color: black;
}
::selection{
  color: #000;
  background: #fff;
}
nav{
  position: fixed;
  background: #1b1b1b;
  width: 100%;
  padding: 10px 0;
  z-index: 12;
}
nav .menu{
  max-width: 1250px;
  margin: auto;
  display: block;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.menu .logo a{  
  padding: 0 120px;  
  flex-direction: row;
  justify-content: center;
  align-items: center center;
  text-decoration: none;
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}
.menu ul{
  display: inline-flex;
}
.menu ul li{
  list-style: none;
  margin-left: 7px;
}
.menu ul li:first-child{
  margin-left: 0px;
}
.menu ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.menu ul li a:hover{
  background: white;
  color: black;
}
.img{
  background: url('imagenes/repro.jpg')no-repeat;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
}
.img::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
}
.center{
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 0 20px;
  text-align: center;
}
.center .title{
  color: #fff;
  font-size: 55px;
  font-weight: 700;
}
.center .sub_title{
  color: #fff;
  font-size: 52px;
  font-weight: 700;
}
.center .btns{
  margin-top: 20px;

}
.center .btns button{
  height: 55px;
  width: 170px;
  border-radius: 5px;
  border: none;
  margin: 0 10px;
  border: 2px solid white;
  font-size: 20px;
  font-weight: 500;
  padding: 10px;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
}
.center .btns button:first-child{
  color: #fff;
  background: none;
}
.btns button:first-child:hover{
  background: white;
  color: black;
}
.center .btns button:last-child{
  background: white;
  color: black;
}

/*SECTION LIBRERIAS 1*/
.img-library{
    background-image: linear-gradient(
    0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
), url(imagenes/produ2.jpg);
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;

}
#LIBRERIAS1{
background: none;
text-align: center;
color: white;
}
#LIBRERIAS1 .container{
    padding: 10px 12px;
}

#LIBRERIAS1 h2{
    margin-top: 5%;
    font-weight: bold;
    font-size: 3.2em;
    text-shadow: -4px 4px black;
    font-style:oblique;
    text-transform: capitalize;
    
}
#LIBRERIAS1 p{
    display: none;
}
#LIBRERIAS1 .carta1{  
  background-position: center center;
  background-size: cover;
  padding: 50px;
  margin: 20px;
  border-radius: 15px;
  box-shadow: 3px 3px white;
}

.carta1:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5), 
        rgba(0,0,0,0.5)

    )
    ,url("imagenes/NordPiano.jpeg");
    
}
.carta1:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5), 
        rgba(0,0,0,0.5)

    )
    ,url("imagenes/Strings.jpeg");
    
}
.carta1:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5), 
        rgba(0,0,0,0.5)

    )
    ,url("imagenes/saxo.jpeg");
}
.carta1:nth-child(4){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
        ), url("imagenes/CINEMA.jpeg")
        
}
.carta1:nth-child(5){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
        ), url("imagenes/AMBIENT.jpeg")
        
}
/*SECTION LIBRERIAS 2*/
#LIBRERIAS2{
    background: none;
    text-align: center;
    color: white;
    }
    #LIBRERIAS2 .container{
        padding: 10px 12px;
    }
    
    #LIBRERIAS2 h2{
        margin-top: 0%;
        font-size: 3.2em;
    }
    #LIBRERIAS2 p{
        display: none;
    }
    #LIBRERIAS2 .carta2{
      background-position: center center;
      background-size: cover;
      padding: 50px;
      margin: 20px;
      border-radius: 15px;
      box-shadow: 3px 3px white;
    }
    
    .carta2:first-child{
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5), 
            rgba(0,0,0,0.5)
    
        )
        ,url("imagenes/GOLDPIANOS.jpeg");
        
    }
    .carta2:nth-child(2){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5), 
            rgba(0,0,0,0.5)
    
        )
        ,url("imagenes/yamahapiar.jpeg");
        
    }
    .carta2:nth-child(3){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5), 
            rgba(0,0,0,0.5)
    
        )
        ,url("imagenes/redpianos.jpeg");
    }
    .carta2:nth-child(4){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
            ), url("imagenes/yamas90.jpeg")
            
    }
    .carta2:nth-child(5){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
            ), url("imagenes/kawao.jpeg")
            
    }
    /*SECTION LIBRERIAS 3*/
#LIBRERIAS3{
    background: none;
    text-align: center;
    color: white;
    }
    #LIBRERIAS3 .container{
        padding: 10px 12px;
    }
    
    #LIBRERIAS3 h2{
        margin-top: 0%;
        font-size: 3.2em;
    }
    #LIBRERIAS3 p{
        display: none;
    }
    #LIBRERIAS3 .carta3{
      background-position: center center;
      background-size: cover;
      padding: 50px;
      margin: 20px;
      border-radius: 15px;
      box-shadow: 3px 3px  white;
    }
    
    .carta3:first-child{
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5), 
            rgba(0,0,0,0.5)
    
        )
        ,url("imagenes/keyscape.jpeg");
        
    }
    .carta3:nth-child(2){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5), 
            rgba(0,0,0,0.5)
    
        )
        ,url("imagenes/moxf8.jpeg");
        
    }
    .carta3:nth-child(3){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5), 
            rgba(0,0,0,0.5)
    
        )
        ,url("imagenes/NORD1.jpg");
    }
    .carta3:nth-child(4){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
            ), url("imagenes/xpiano.jpeg")
            
    }
    .carta3:nth-child(5){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
            ), url("imagenes/motif.jpeg")
            
    }
    /*SECTION LIBRERIAS 4*/
#LIBRERIAS4{
    background: none;
    text-align: center;
    color: white;
    }
    #LIBRERIAS4 .container{
        padding: 10px 12px;
    }
    
    #LIBRERIAS4 h2{
        margin-top: 0%;
        font-size: 3.2em;
    }
    #LIBRERIAS4 p{
        display: none;
    }
    #LIBRERIAS4 .carta4{
      background-position: center center;
      background-size: cover;
      padding: 50px;
      margin: 20px;
      border-radius: 15px;
      box-shadow: 3px 3px white;
    }
    
    .carta4:first-child{
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5), 
            rgba(0,0,0,0.5)
    
        )
        ,url("imagenes/ultim.jpg");
        
    }
    .carta4:nth-child(2){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5), 
            rgba(0,0,0,0.5)
    
        )
        ,url("imagenes/bateul.jpeg");
        
    }
    .carta4:nth-child(3){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5), 
            rgba(0,0,0,0.5)
    
        )
        ,url("imagenes/produ2.jpg");
    }
    .carta4:nth-child(4){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
            ), url("imagenes/Korgoas.jpeg")
            
    }
    .carta4:nth-child(5){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
            ), url("imagenes/emoyionalp.jpeg")
            
    }
    /*SECTION LIBRERIAS 5*/
#LIBRERIAS5{
    background: none;
    text-align: center;
    color: white;
    }
    #LIBRERIAS5 .container{
        padding: 10px 12px;
    }
    
    #LIBRERIAS5 h2{
        margin-top: 0%;
        font-size: 3.2em;
    }
    #LIBRERIAS5 p{
        display: none;
    }
    #LIBRERIAS5 .carta5{
      background-position: center center;
      background-size: cover;
      padding: 50px;
      margin: 20px;
      border-radius: 15px;
      box-shadow: 3px 3px white;
    }
    
    .carta5:first-child{
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5), 
            rgba(0,0,0,0.5)
    
        )
        ,url("imagenes/MK20piano.jpeg");
        
    }
    .carta5:nth-child(2){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5), 
            rgba(0,0,0,0.5)
    
        )
        ,url("imagenes/Mk20p.jpeg");
        
    }
    .carta5:nth-child(3){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5), 
            rgba(0,0,0,0.5)
    
        )
        ,url("imagenes/tonali.jpeg");
    }
    .carta5:nth-child(4){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
            ), url("imagenes/hillsongp.jpeg")
            
    }
    .carta5:nth-child(5){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
            ), url("imagenes/pelicupad.jpeg")
            
    }
    /*SECTION LIBRERIAS 6*/
#LIBRERIAS6{
    background: none;
    text-align: center;
    color: white;
    }
    #LIBRERIAS6 .container{
        padding: 10px 12px;
    }
    
    #LIBRERIAS6 h2{
        margin-top: 0%;
        font-size: 3.2em;
    }
    #LIBRERIAS6 p{
        display: none;
    }
    #LIBRERIAS6 .carta6{
      background-position: center center;
      background-size: cover;
      padding: 50px;
      margin: 20px;
      border-radius: 15px;
      box-shadow: 3px 3px white;
    }
    
    .carta6:first-child{
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5), 
            rgba(0,0,0,0.5)
    
        )
        ,url("imagenes/guitar.jpeg");
        
    }
    .carta6:nth-child(2){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5), 
            rgba(0,0,0,0.5)
    
        )
        ,url("imagenes/denver.jpeg");
        
    }
    .carta6:nth-child(3){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5), 
            rgba(0,0,0,0.5)
    
        )
        ,url("imagenes/Piano+bajo.jpeg");
    }
    .carta6:nth-child(4){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
            ), url("imagenes/Rhodes2.jpeg")
            
    }
    .carta6:nth-child(5){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
            ), url("imagenes/pad+piano.jpeg")
            
    }
    /*SECTION LIBRERIAS 7*/
#LIBRERIAS7{
    background: none;
    text-align: center;
    color: white;
    }
    #LIBRERIAS7 .container{
        padding: 10px 12px;
    }
    
    #LIBRERIAS7 h2{
        margin-top: 0%;
        font-size: 3.2em;
    }
    #LIBRERIAS7 p{
        display: none;
    }
    #LIBRERIAS7 .carta7{
      background-position: center center;
      background-size: cover;
      padding: 50px;
      margin: 20px;
      border-radius: 15px;
      box-shadow: 3px 3px white;
    }
    
    .carta7:first-child{
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5), 
            rgba(0,0,0,0.5)
    
        )
        ,url("imagenes/Drumsli.jpeg");
        
    }
    .carta7:nth-child(2){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5), 
            rgba(0,0,0,0.5)
    
        )
        ,url("imagenes/feñpiano.jpeg");
        
    }
    .carta7:nth-child(3){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5), 
            rgba(0,0,0,0.5)
    
        )
        ,url("imagenes/GiantPiano.jpeg");
    }
    .carta7:nth-child(4){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
            ), url("imagenes/pianoofic.jpg")
            
    }
    .carta7:nth-child(5){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
            ), url("imagenes/NORD1.jpg")
            
    }
    /*SECTION LIBRERIAS 8*/
#LIBRERIAS8{
    background: none;
    text-align: center;
    color: white;
    }
    #LIBRERIAS8 .container{
        padding: 10px 12px;
    }
    
    #LIBRERIAS8 h2{
        margin-top: 0%;
        font-size: 3.2em;
    }
    #LIBRERIAS8 p{
        display: none;
    }
    #LIBRERIAS8 .carta8{
      background-position: center center;
      background-size: cover;
      padding: 50px;
      margin: 20px;
      border-radius: 15px;
      box-shadow: 3px 3px white;
    }
    
    .carta8:first-child{
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5), 
            rgba(0,0,0,0.5)
    
        )
        ,url("imagenes/s90pe.jpg");
        
    }
    .carta8:nth-child(2){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5), 
            rgba(0,0,0,0.5)
    
        )
        ,url("imagenes/omni.jpg");
        
    }
    .carta8:nth-child(3){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5), 
            rgba(0,0,0,0.5)
    
        )
        ,url("imagenes/nord3.jpeg");
    }
    .carta8:nth-child(4){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
            ), url("imagenes/bateria1.jpeg")
            
    }
    .carta8:nth-child(5){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
            ), url("imagenes/bateria2.jpeg")
            
    }/*SECTION LIBRERIAS 9*/
#LIBRERIAS9{
    background: none;
    text-align: center;
    color: white;
    }
    #LIBRERIAS9 .container{
        padding: 10px 12px;
    }
    
    #LIBRERIAS9 h2{
        margin-top: 0%;
        font-size: 3.2em;
    }
    #LIBRERIAS9 p{
        display: none;
    }
    #LIBRERIAS9 .carta9{
      background-position: center center;
      background-size: cover;
      padding: 50px;
      margin: 20px;
      border-radius: 15px;
      box-shadow: 3px 3px  white;
    }
    
    .carta9:first-child{
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5), 
            rgba(0,0,0,0.5)
    
        )
        ,url("imagenes/montage.jpeg");
        
    }
    .carta9:nth-child(2){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5), 
            rgba(0,0,0,0.5)
    
        )
        ,url("imagenes/alterro.jpeg");
        
    }
    .carta9:nth-child(3){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5), 
            rgba(0,0,0,0.5)
    
        )
        ,url("imagenes/");
    }
    .carta9:nth-child(4){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
            ), url("imagenes/")
            
    }
    .carta9:nth-child(5){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
            ), url("imagenes/")
            
    }



/*SECTION VSTS 1*/
.img-vst{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),url(imagenes/imgvst2.jpg);
    
   background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

}
#VST{
    background: none;
    text-align: center;
    color: aliceblue;
}
#VST h2{
    margin-top: 15%;
}
#VST .container{
    padding: 10px 12px;
}
#VST h2{
    margin-top: 0;
    font-size: 3.2em;
    box-shadow: black;
}
#VST p{
    display: block;
    margin: 10px;
}
#VST .vst1{
    background-position: center center;
      background-size: cover;
      padding: 50px;
      margin: 20px;
      border-radius: 15px;
      box-shadow: 3px 3px white ;
}
.vst1:first-child{
    background-image: linear-gradient(
    0deg,
    rgba(0,0,0,0.5), 
    rgba(0,0,0,0.5)

)
,url("imagenes/Space-Lite.jpg");


}
.vst1:nth-child(2){
    background-image: linear-gradient(
    0deg,
    rgba(0,0,0,0.5), 
    rgba(0,0,0,0.5)

)
,url("imagenes/atmos3lite.jpg");


}
.vst1:nth-child(3){
    background-image: linear-gradient(
    0deg,
    rgba(0,0,0,0.5), 
    rgba(0,0,0,0.5)

)
,url("imagenes/electronico.jpg");
}
/*SECTION PATCHS 1*/
.img-patchs{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,00.5)
    ),url(imagenes/imgvst1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

}

#patch{
    background: none;
    text-align: center;
    color: white;
    }
    #patch .container{
        padding: 10px 12px;
    }
    
    #patch h2{
        margin-top: 0%;
        font-size: 3.2em;
    }
    #patch p{
        display: none;
    }
    #patch .patch1{
      background-position: center center;
      background-size: cover;
      padding: 50px;
      margin: 20px;
      border-radius: 15px;
      box-shadow: 3px 3px white;
    }
    
    .patch1:first-child{
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5), 
            rgba(0,0,0,0.5)
    
        )
        ,url("imagenes/mas\ de\ ti.jpg");
        
    }
    .patch1:nth-child(2){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5), 
            rgba(0,0,0,0.5)
    
        )
        ,url("imagenes/desciende.jpg");
        
    }
    .patch1:nth-child(3){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5), 
            rgba(0,0,0,0.5)
    
        )
        ,url("imagenes/oceans.jpg");
    }
    
/*SECTION FINAL MAS PROGRAMAS*/
#final{
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: rgb(22, 16, 16);
color: rgb(227, 227, 233);
}
#final{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5), 
            rgba(0,0,0,0.5)
    
        )
        ,url("imagenes/produ2.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
}

#final button{
    color: rgb(255, 244, 244);
    background: none;
    height: 55px;
    width: 170px;
    border-radius: 5px;
    border: none;
    margin: 0 10px;
    border: 2px solid rgb(255, 252, 252);
    font-size: 20px;
    font-weight: 500;
    padding: 0px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
    }
  
#final button:hover{
    background: white;
    color: black;
}
#final h2{
    font-size: 9vw;
   
}

/*SECTION MEDIA VERSION PC*/
@media (min-width:720px){  
    nav{
        position: fixed;
        background: #1b1b1b;
        width: 100%;
        padding: 10px 0;
        z-index: 12;
      }
      nav .menu{
        max-width: 1250px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
      }
      .menu .logo a{
        padding: 0 15px;
        text-decoration: none;
        color: #fff;
        font-size: 35px;
        font-weight: 600;
      }    

      /*SECTION LIBRERIAS 1*/
#LIBRERIAS1 .programa1{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
#LIBRERIAS1 p{
    display: flexbox;

}
#LIBRERIAS1 h3{
    margin-top: 0;
}
#LIBRERIAS1 .carta1{
    padding: 15px;

}

/*SECTION LIBRERIAS 2*/
#LIBRERIAS2 .programa2{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
#LIBRERIAS2 p{
    display: block;

}
#LIBRERIAS2 h3{
    margin-top: 0;
}
#LIBRERIAS2 .carta2{
    padding: 15px;

}
/*SECTION librerias 3*/
#LIBRERIAS3 .programa3{
    display: flex;
    justify-content: center;
}
#LIBRERIAS3 p{
    display: block;

}
#LIBRERIAS3 h3{
    margin-top: 0;
}
#LIBRERIAS3 .carta3{
    padding: 15px;

}

/*SECTION LIBRERIAS 4*/
#LIBRERIAS4 .programa4{
    display: flex;
    justify-content: center;
}
#LIBRERIAS4 p{
    display: block;

}
#LIBRERIAS4 h3{
    margin-top: 0;
}
#LIBRERIAS4 .carta4{
    padding: 15px;

}
/*SECTION LIBRERIAS 5*/ 
#LIBRERIAS5 .programa5{
    display: flex;
    justify-content: center;
}
#LIBRERIAS5 p{
    display: block;

}
#LIBRERIAS5 h3{
    margin-top: 0;
}
#LIBRERIAS5 .carta5{
    padding: 15px;

}
/*SECTION LIBRERIAS 6*/
#LIBRERIAS6 .programa6{
    display: flex;
    justify-content: center;
}
#LIBRERIAS6 p{
    display: block;

}
#LIBRERIAS6 h3{
    margin-top: 0;
}
#LIBRERIAS6 .carta6{
    padding: 15px;}

/*SECTION LIBRERIAS 7*/
#LIBRERIAS7 .programa7{
    display: flex;
    justify-content: center;
}
#LIBRERIAS7 p{
    display: block;

}
#LIBRERIAS7 h3{
    margin-top: 0;
}
#LIBRERIAS7 .carta7{
    padding: 15px;}

/*SECTION LIBRERIAS 8*/
#LIBRERIAS8 .programa8{
    display: flex;
    justify-content: center;
}
#LIBRERIAS8 p{
    display: block;

}
#LIBRERIAS8 h3{
    margin-top: 0;
}
#LIBRERIAS8 .carta8{
    padding: 15px;}

/*SECTION LIBRERIAS 9*/
#LIBRERIAS9 .programa9{
    display: flex;
    justify-content: center;
}
#LIBRERIAS9 p{
    display: block;

}
#LIBRERIAS9 h3{
    margin-top: 0;
}
#LIBRERIAS9 .carta9{
    padding: 15px;}

/*SECTION VSTS 1*/
#VST .VST11{
    display: flex;
    justify-content: center;
}
#VST P{
    display: block;
}
#VST h4{
    margin-top: 0;
}
#VST .vst1{
    padding: 15px;
}

/*SECTION PATCH 1*/
#patch .patchs{
    display: flex;
    justify-content: center;
}
#patch p{
    display: block;

}
#patch h3{
    margin-top: 0;
}
#patch .patch1{
    padding: 15px;

}
/*SECTION FINAL MAS PROGRAMAS*/
#final h2{
    font-size: 5em;

}
#final button{
    font-size: 2em;

}
