@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
button{
    color: #fff;
    background: none;
    height: 55px;
    width: 170px;
    border-radius: 5px;
    border: none;
    margin: 0 10px;
    border: 2px solid white;
    font-size: 20px;
    font-weight: 500;
    padding: 0 10px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
    
}
button:hover{
    background: white;
    color: black;
}
::selection{
  color: #000;
  background: #fff;
}
nav{
  position: fixed;
  background: #1b1b1b;
  width: 100%;
  padding: 10px 0;
  z-index: 12;
}
nav .menu{
  max-width: 1250px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.menu .logo a{
  text-decoration: none;
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}
.menu ul{
  display: inline-flex;
}
.menu ul li{
  list-style: none;
  margin-left: 7px;
}
.menu ul li:first-child{
  margin-left: 0px;
}
.menu ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.menu ul li a:hover{
  background: #fff;
  color: black;
}
.img{
  background: url('imagenes/pianoofic.jpg')no-repeat;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
}
.img::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
}
.center{
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 0 20px;
  text-align: center;
}
.center .title{
  color: #fff;
  font-size: 55px;
  font-weight: 600;
}
.center .sub_title{
  color: #fff;
  font-size: 52px;
  font-weight: 600;
}
.center .btns{
  margin-top: 20px;
}
.center .btns button{
  height: 55px;
  width: 170px;
  border-radius: 5px;
  border: none;
  margin: 0 10px;
  border: 2px solid white;
  font-size: 20px;
  font-weight: 500;
  padding: 0 10px;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
}
.center .btns button:first-child{
  color: #fff;
  background: none;
}
.btns button:first-child:hover{
  background: white;
  color: black;
}
.center .btns button:last-child{
  background: white;
  color: black;
}


#Nuestros-programas{
background-color: rgb(30,30,30);
text-align: center;
color: white;
}
#Nuestros-programas .container{
    padding: 10px 12px;
}

#Nuestros-programas h2{
    margin-top: 0%;
    font-size: 3.2em;
}
#Nuestros-programas p{
    display: none;
}
#Nuestros-programas .carta{
  background-position: center center;
  background-size: cover;
  padding: 50px;
  margin: 20px;
  border-radius: 15px;
}

.carta:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5), 
        rgba(0,0,0,0.5)

    )
    ,url("imagenes/NordPiano.jpeg");
    
}
.carta:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5), 
        rgba(0,0,0,0.5)

    )
    ,url("imagenes/Strings.jpeg");
    
}
.carta:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5), 
        rgba(0,0,0,0.5)

    )
    ,url("imagenes/saxo.jpeg");
}


#LIBRERIAS1{
    background-color: rgb(30,30,30);
    text-align: center;
    color: white;
    }
    #LIBRERIAS1 .container{
        padding: 10px 12px;
    }
    #LIBRERIAS1 p{
        display: none;
    }
    #LIBRERIAS1 .carta1{
      background-position: center center;
      background-size: cover;
      padding: 50px;
      margin: 20px;
      border-radius: 15px;
    }
    
    .carta1:first-child{
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5), 
            rgba(0,0,0,0.5)
    
        )
        ,url("imagenes/CINEMA.jpeg");
        
    }
    .carta1:nth-child(2){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5), 
            rgba(0,0,0,0.5)
    
        )
        ,url("imagenes/AMBIENT.jpeg");
        
    }
    .carta1:nth-child(3){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5), 
            rgba(0,0,0,0.5)
    
        )
        ,url("imagenes/GOLDPIANOS.jpeg");
    }
    

#VST{
    background-color: rgb(62, 66, 66);
    text-align: center;
    color: aliceblue;
}
#VST h2{
    margin-top: 0;
}
#VST .container{
    padding: 10px 12px;
}
#VST h4{
    margin-top: 0;
    font-size: 3.2em;
}
#VST p{
    display: block;
    margin: 10px;
}
#VST .vst1{
    background-position: center center;
      background-size: cover;
      padding: 50px;
      margin: 20px;
      border-radius: 15px;
}
.vst1:first-child{
    background-image: linear-gradient(
    0deg,
    rgba(0,0,0,0.5), 
    rgba(0,0,0,0.5)

)
,url("imagenes/Space-Lite.jpg");


}
.vst1:nth-child(2){
    background-image: linear-gradient(
    0deg,
    rgba(0,0,0,0.5), 
    rgba(0,0,0,0.5)

)
,url("imagenes/atmos3lite.jpg");


}
.vst1:nth-child(3){
    background-image: linear-gradient(
    0deg,
    rgba(0,0,0,0.5), 
    rgba(0,0,0,0.5)

)
,url("imagenes/electronico.jpg");
}

#patch{
    background-color: rgb(49, 43, 43);
    text-align: center;
    color: white;
    }
    #patch .container{
        padding: 10px 12px;
    }
    
    #patch h2{
        margin-top: 0%;
        font-size: 3.2em;
    }
    #patch p{
        display: none;
    }
    #patch .patch1{
      background-position: center center;
      background-size: cover;
      padding: 50px;
      margin: 20px;
      border-radius: 15px;
    }
    
    .patch1:first-child{
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5), 
            rgba(0,0,0,0.5)
    
        )
        ,url("imagenes/mas\ de\ ti.jpg");
        
    }
    .patch1:nth-child(2){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5), 
            rgba(0,0,0,0.5)
    
        )
        ,url("imagenes/desciende.jpg");
        
    }
    .patch1:nth-child(3){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5), 
            rgba(0,0,0,0.5)
    
        )
        ,url("imagenes/oceans.jpg");
    }
    

#final{
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: rgb(22, 16, 16);
color: rgb(227, 227, 233);
}
#final{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5), 
            rgba(0,0,0,0.5)
    
        )
        ,url("imagenes/produ2.jpg");
}

#final button{
    color: rgb(255, 244, 244);
    background: none;
    height: 55px;
    width: 170px;
    border-radius: 5px;
    border: none;
    margin: 0 10px;
    border: 2px solid rgb(255, 252, 252);
    font-size: 20px;
    font-weight: 500;
    padding: 0px;
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease;
    }
  
#final button:hover{
    background: white;
    color: black;
}
#final h2{
    font-size: 9vw;
   
}
footer{
    background-color:rgb(230, 230, 230)
}
footer p{
    margin: 0;
    color: rgb(100, 100, 100);
    padding: 12px;
}
footer .container{
height: 100px;
display: flex;
justify-content: center;
align-items: flex-end;
}
@media (min-width:720px){
    header{
        position: fixed;
        width: 100%;
    }
    header .container{
        flex-direction: row;
        justify-content: space-between;

    }
    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px
    }
    

#Nuestros-programas .programas{
    display: flex;
    justify-content: center;
}
#Nuestros-programas p{
    display: block;

}
#Nuestros-programas h3{
    margin-top: 0;
}
#Nuestros-programas .carta{
    padding: 15px;

}


#LIBRERIAS1 .programa1{
    display: flex;
    justify-content: center;
}
#LIBRERIAS1 p{
    display: block;

}
#LIBRERIAS1 h3{
    margin-top: 0;
}
#LIBRERIAS1 .carta1{
    padding: 15px;

}

#VST .VST11{
    display: flex;
    justify-content: center;
}
#VST P{
    display: block;
}
#VST h4{
    margin-top: 0;
}
#VST .vst1{
    padding: 15px;
}

#patch .patchs{
    display: flex;
    justify-content: center;
}
#patch p{
    display: block;

}
#patch h3{
    margin-top: 0;
}
#patch .patch1{
    padding: 15px;

}

#final h2{
    font-size: 5em;

}
#final button{
    font-size: 2em;

}
footer .container{
    justify-content: flex-end;
}
