@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
/*Personalizacion en pc del header*/
nav{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(26, 27, 27);
    width: 100%;
    height: 8vh; 
    padding: 0 50px;
}
.logo{
    color: white;
    font-size: 20px;
    font-weight: 800;
}
.menuu{
    display: flex;
}
.menuu li{
    list-style: none;
    margin: 0 15px;
}
.menuu .menu-i{
    color: white;
    text-decoration: none;
    font-weight: 600;
    transition: .3s ease-in-out;
}
.menuu .menu-i:hover{
    color: brown;
}
.menu-btn{
    display: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
.nav__input{
    display: none;
    color: white;
    cursor: pointer;
    font-size: 20px;
}
/*personalizacion del centro de la pagina principal*/
.center{
    background-image:url(imagenes/pro1.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.title{
    font-size: 55px;
    color: white;
    font-weight: 800;
}
.subtitle{
    color: white;
    font-size: 50px;
    font-weight: 800;
}
.btns{
    display: flex;
    margin: 10px;
}
button{
    color: white;
    border: 3px solid white;
    width: 145px;
    height: 45px;
    background: transparent;
    margin: 10px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 30px;
    transition: .3s ease-in-out;
}
.button2{
    color: white;
    background: gray;
    font-weight: 600;
}
button:hover{
    background: white;
    color: black;
}
/*contenido de datos*/
.center{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    
  }
  .contenedor{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 380px;
    height: 380px;
    background: linear-gradient(to right, gray, aquamarine);
    border-radius: 30px;
  }
  .contenedor .title{
    font-size: 35px;
    padding: 10px 0 10px 0;
    color: black;
    font-weight: 1200;
    
  }
  .contenedor .button2{
    font-size: 10px;
  }
  .contenedor .subtitle1{
    font-size: 25px;
    color: whitesmoke;
    font-weight: 900;
  }
  .contenedor .subtitle{
    font-size: 25px;
    color: whitesmoke;
  }/*estilizacion acerca de*/
.acercade{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: url(imagenes/progr.jpeg);
}
.acercade .h1{
    color: rgb(241, 241, 241);
    font-weight: 800;
    font-size: 45px;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 50px;
    text-align: center;
}
.centroacercade{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    text-align: center;
    
}
.acercadep h1{
    color: black;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}
.acercadep p{
    color: black;
    align-items: center;
    width: 180px;
    font-size: 15px;
}
.acercadep li{
    align-items: center;
    list-style: none;
    color: black;
    font-weight: 560;
    font-size: 13px;
}

.acercadep{
    background: white;
    border-radius: 60px;
    width: 280px;
    height: 420px;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 5px;
}
.acercadep img{
    width: 180px;
    height: 150px;
    border-radius: 70px;
    margin: 10px;
}

/*presentacion despues del login*/
.present{
    
    width: 100%;
    height: 78vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.present h1{
    font-size: 105px;
    color: black;
    font-weight: 600;
}
.present p{
    font-size: 20px;
    font-style: italic;
}
.present1{
    display: flex ;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 500px;
    height: 500px;
    margin: 90px;
    
}



/*personalización del header en telefonos con bars*/
@media screen and (max-width: 800px){
    .menu-btn{
        display: block;
    }
    .menuu{
        position: fixed;
        top: 8vh;
        left: 0;
        background: hsl(160, 78%, 11%);
        width: 100%;
        height: 100%;
        align-items: center;
        flex-direction: column;
        line-height: 100px;
        transform: translateX(-100%);
        transition: .3s ease-in-out;
    }
    .nav__input:checked + .menuu{
        transform: translateX(0);
    }
    .menuu .menu-i{
        color: rgb(255, 242, 242);
    }
    .menuu .menu-i:hover{
        color: rgb(247, 14, 14);
    }
    /*personalizacion de la pantalla principal en cell*/
    .center{
        text-align: center;
        background-image: url(imagenes/pro1.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
      /*ACERCADE ADAPTAR*/
      .acercade{
        width: 100%;
        height: 100%;
      }
      .acercade .h1{
        padding: 65px;
    
      }
      .centroacercade{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

      }
      .acercadep{
        display: flex;
        flex-wrap: wrap;
        width: 180px;
      }
      .acercadep h1{
        font-size: 25px;
      }
      .acercadep p{
        font-size: 15px;
      }
      .acercadep img{
        width: 150px;
        height: 130px;
      }



          /*sesion*/
    .present2 img{
        width: 240px;
        height: 150px;
        margin: 0;
        
        
    }
    .present{
        display: flex;
        flex-direction: column;
    }
    
    .present h1{
        font-size: 30px;
        font-weight: 900;
    }
    .present p{
        font-size: 17px;
    }
    .present1{
        width: 70%;
        height: 0;
    }
      

      
}